.col-md-4{
  border:2px solid black;
  height:100px;
  width:100px;
}

.col-md-4:hover{
  background-color: #6e97d8;
}

#red{
  display: none;
  color: #d33532;
}

#blue{
  color: #072351;
}


.resultX {
  background-color: #072351;
}

.resultO{
  background-color: #d33532;
}
